@import "../../assets/css/_breakpoints.css";

.home {
  padding: 0 20px;
  text-align: center;
  
  &__intro {
    margin-bottom: 20px;

    p {
      font: normal normal normal 2.2rem/3rem var(--font-montserrat);
      max-width: 475px;
      margin: 0 auto;
    }
  }

  &__image {
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }
  }
}
